.dropdown
    padding-top: 65px
    margin-left: 141px
    &__inner  
    &__items     
    &__email   
        form 
            width: 320px
            height: 67px
            label 
                font-family: Montserrat
                font-size: 12px
                line-height: 15px
                text-transform: uppercase
                margin-bottom: 5px
                font-weight: bold
            input
                width: 100%
                height: 44px
                padding: 13px 265px 13px 15px
                font-family: Montserrat
                font-size: 14px
                line-height: 18px
                color: $darkShade_25
                border-radius: 4px
                border: 1px solid rgba(31, 32, 65, 0.25)
                        
                        
