doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        .container
            header.header
                .header__logo  
            .wrapper 
                section.color 
                    .color__box 
                        .color__item 
                            .color__item_shade-100
                            .color__item_text
                                .color__item_text_title Dark Shade 100%
                                .color__item_text_subtitle #1F2041
                        .color__item 
                            .color__item_shade-75
                            .color__item_text
                                .color__item_text_title Dark Shade 75%
                                .color__item_text_subtitle #1F2041
                        .color__item 
                            .color__item_shade-50
                            .color__item_text
                                .color__item_text_title Dark Shade 50%
                                .color__item_text_subtitle #1F2041
                        .color__item 
                            .color__item_shade-25
                            .color__item_text
                                .color__item_text_title Dark Shade 25%
                                .color__item_text_subtitle #1F2041
                        .color__item 
                            .color__item_shade-5
                            .color__item_text
                                .color__item_text_title Dark Shade 5%
                                .color__item_text_subtitle #1F2041
                        .color__item 
                            .color__item_shade-purple
                            .color__item_text
                                .color__item_text_title Purple
                                .color__item_text_subtitle #BC9CFF
                        .color__item 
                            .color__item_shade-green
                            .color__item_text
                                .color__item_text_title Green
                                .color__item_text_subtitle #6FCF97
            
                section.title
                    .title__box
                        .title__item
                            .title__item_img-h1
                            .title__item_text-h1 This one is the sub-section or widget title
                        .title__item
                            .title__item_img-h2
                            .title__item_text-h2 Next one is the item title inside widgets
                        .title__item
                            .title__item_img-h3
                            .title__item_text-h3 This is a label or CTA text
                        .title__item
                            .title__item_img-body
                            .title__item_text-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
                   
                        