doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .container
            header.header 
                .header__logo
            section.dropdown
                .dropdown__inner 
                    .dropdown__items
                        .dropdown__email 
                            form(action="")
                                label(for="name") Text field 
                                input(type="email" placeholder="Email")